.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    top: 50%;
    transform: translate(0, -50%);
    margin: auto;
    position: absolute;
    padding: 25%;

}

.login-container{
    text-align: center;
    background-color: white !important;
    border-radius: 20px;
}

.input-container{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    padding-top: 10px;
}

.login-button{
    background-color: lightgray;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 10px;
}

input{
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}
